<header class="header">
<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="navigation">
			<a href="{{ '/' | prepend: site.baseurl }}" class="logo">{{ site.title }}</a>			
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<div class="navigation">
			<ul class="menu">
			<!-- <li class="menu__entry"><a href="{{ '/resume' | prepend: site.baseurl }}">Resume</a></li> -->
			<!-- <li class="menu__entry"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li> -->
			<li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
			<li class="menu__entry"><a href="{{ '/courses' | prepend: site.baseurl }}">Courses</a></li>
			<!-- <li class="menu__entry"><a href="{{ '/service' | prepend: site.baseurl }}">Service</a></li> -->
			</ul>
			</div>
		</div>
		<div class="col-md-6 col-sm-6">
		<ul class="social-links">
		<a href="https://api.whatsapp.com/send?phone=9779810106632&text=Hi, I wanna learn Coding" class="social-links__entry" target="_blank">
		<i class="fa fa-whatsapp"></i>
		</a>
		{% if site.author.email %}
		<a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
		<i class="fa fa-envelope-square"></i>
		</a>
		{% endif %}
		{% if site.author.github %}
		<a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
		<i class="fa fa-github"></i>
		</a>
		{% endif %}
		{% if site.author.linkedin %}
		<a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
		<i class="fa fa-linkedin"></i>
		</a>
		{% endif %}
		{% if site.author.facebook %}
		<a href="https://facebook.com/{{ site.author.facebook }}" class="social-links__entry" target="_blank">
		<i class="fa fa-facebook"></i>
		</a>
		{% endif %}
		{% if site.author.instagram %}
		<a href="https://instagram.com/{{ site.author.instagram }}" class="social-links__entry" target="_blank">
		<i class="fa fa-instagram"></i>
		</a>
		{% endif %}
		</ul>
	</div>
</div>
</header>
