<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %} {{ page.title }} — {{ page.subtitle }} {% endif %} | {{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<meta name="keywords" content="coding, programming, nepal, kathmandu, child, children, kids, students, scratch, python, fun, free, game, development, website, site, webpage, academic, learn, smart, web, computer, science, html, css, js, javascript, mit, app, application, pubg, replit">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">